<%- include("header") -%>
    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <% for (let i=0;i<itemlist.length;i++){%>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%=itemlist[i]%>
                </p>
            </div>
            <% } %>


                <form action="/home" method="post" class="">
                    <input type="text" name="itemadd" placeholder="Add Here" autocomplete="off">
                    <button type="submit" name="list" value=<%= listTitle %>>+</button>
                </form>
    </div>
    <%- include("footer") -%>